/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #2b97e2 !important;
  --toolbarbutton-icon-fill: #96ccff !important;
  --toolbar-field-color: #dfe3e9 !important;
  --tab-selected-textcolor: #96ccff !important;
  --toolbar-color: #dfe3e9 !important;
  --arrowpanel-color: #dfe3e9 !important;
  --arrowpanel-background: #1c2025 !important;
  --sidebar-text-color: #dfe3e9 !important;
  --zen-main-browser-background: #101418 !important;
  --zen-main-browser-background-toolbar: #101418 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #101418 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #101418 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1c2025 !important;
}

#zen-workspaces-button {
  background-color: #1c2025 !important;
}

#TabsToolbar {
  background-color: #101418 !important;
}

.urlbar-background {
  background-color: #1c2025 !important;
}

.urlbar-input::selection {
  color: #003353 !important;
  background-color: #96ccff !important;
}

.urlbarView-url {
  color: #bfc7d2 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #96ccff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #a5d3ff !important;
  --identity-icon-color: #a5d3ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #96ccff !important;
  --identity-icon-color: #96ccff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb1 !important;
  --identity-icon-color: #a5ffb1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffaa5 !important;
  --identity-icon-color: #fffaa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff772 !important;
  --identity-icon-color: #fff772 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbc !important;
  --identity-icon-color: #ff9fbc !important;
}

.identity-color-pink {
  --identity-tab-color: #b5dbff !important;
  --identity-icon-color: #b5dbff !important;
}

.identity-color-purple {
  --identity-tab-color: #2b97e2 !important;
  --identity-icon-color: #2b97e2 !important;
}

#zen-appcontent-navbar-container {
  background-color: #101418 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #96ccff !important;
  color: #96ccff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #96ccff !important;
  color: #96ccff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #96ccff !important;
}
