/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #091d2c !important;
  --toolbarbutton-icon-fill: #b5c9dd !important;
  --toolbar-field-color: #e4e2e3 !important;
  --tab-selected-textcolor: #b5c9dd !important;
  --toolbar-color: #e4e2e3 !important;
  --arrowpanel-color: #e4e2e3 !important;
  --arrowpanel-background: #1f2021 !important;
  --sidebar-text-color: #e4e2e3 !important;
  --zen-main-browser-background: #131315 !important;
  --zen-main-browser-background-toolbar: #131315 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #131315 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #131315 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1f2021 !important;
}

#zen-workspaces-button {
  background-color: #1f2021 !important;
}

#TabsToolbar {
  background-color: #131315 !important;
}

.urlbar-background {
  background-color: #1f2021 !important;
}

.urlbar-input::selection {
  color: #203242 !important;
  background-color: #b5c9dd !important;
}

.urlbarView-url {
  color: #c3c7cc !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b5c9dd
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #cde0f3 !important;
  --identity-icon-color: #cde0f3 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b5c9dd !important;
  --identity-icon-color: #b5c9dd !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb1 !important;
  --identity-icon-color: #a5ffb1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffaa5 !important;
  --identity-icon-color: #fffaa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff772 !important;
  --identity-icon-color: #fff772 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbc !important;
  --identity-icon-color: #ff9fbc !important;
}

.identity-color-pink {
  --identity-tab-color: #deeeff !important;
  --identity-icon-color: #deeeff !important;
}

.identity-color-purple {
  --identity-tab-color: #091d2c !important;
  --identity-icon-color: #091d2c !important;
}

#zen-appcontent-navbar-container {
  background-color: #131315 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #b5c9dd !important;
  color: #b5c9dd !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #b5c9dd !important;
  color: #b5c9dd !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #b5c9dd !important;
}
